# Backend Environment Variables
PORT=3001
JWT_SECRET=d68955630815d89e187af6fd7f9fe277888626a54fae89cd28005b99b06968fd
ADMIN_EMAIL=admin@izzy.com
ADMIN_PASSWORD=izzy2024!
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:4173,https://izzysignature.lk,https://www.izzysignature.lk

# Supabase Credentials
SUPABASE_URL=https://bcoxguzxuuwnbrenmglq.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjb3hndXp4dXV3bmJyZW5tZ2xxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDUxNTUwOSwiZXhwIjoyMTAwMDkxNTA5fQ.ZOLX8AlDTu39n3zV0T4rRAucOLDdRnlpjWF_IkOArdQ
